

{{>menu}}

<h2>Perfil {{usuario.nombre}}</h2>
<hr>
<p>Nombre: <strong>{{usuario.nombre}}</strong> -  Correo Electrónico: <strong>{{usuario.email}}</strong> - Rol: <strong>{{usuario.rol}}</strong></p>

<a href="/carrito/{{usuario.carrito}}">Ver Carrito</a>
<hr>

{{#if mensajeEnviado}}
  <p id="mensaje">Consulta enviada correctamente.</p>
{{/if}}

<form action="/api/usuario/consultasWs" method="POST">
  <label for="consulta">Consultas:</label><br>
  <textarea id="consulta" name="consulta" rows="4" cols="50"></textarea><br><br>
  <input type="submit" value="Enviar">
</form>


<script>
  // Función para ocultar el mensaje después de unos segundos
  setTimeout(function() {
    var mensaje = document.getElementById('mensaje');
    if (mensaje) {
      mensaje.style.display = 'none';
    }
  }, 2000);
</script>